<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Static Todos</title>

    <link rel="stylesheet" href="foundation-grid/grid.css" />
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <div class="row">
        <div class="small-12 columns">
            <header>
                <a href="/">Static Todos</a>
            </header>

            REPLACE_MESSAGE
			
            <main>
                <div id="bar">
                    <h1>Your Todos</h1>

                    <a href="/new.html" class="button">New</a>
                </div>

				REPLACE_TODO
				
				

            </main>

            <footer>
                <a href="/about.html">About</a>
            </footer>
        </div>
    </div>
</body>
</html>