<div class="row todo-list__todo">
	<div class="large-4 medium-6 margin-medium-1 small-12 columns">
		REPLACE_DESC
	</div>
	<div class="large-2 medium-3 small-6 margin-small-1 columns text-right-medium">
		REPLACE_DATE
	</div>
	<div class="large-1 medium-3 small-6 margin-small-1 columns text-right">
		REPLACE_PROGRESS
	</div>
	<div class="large-1 medium-2 medium-offset-8 small-3 small-offset-6 columns text-right">
		<a class="button">Delete</a>
	</div>
	<div class="large-1 medium-2 small-3 columns text-right">
		<a href="/edit/1.html" class="button">Edit</a>
	</div>
</div>